
body {
    background: #000000;
    font-family: Helvetica, Sans-Serif;
        color: #ffffff;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;

}

.navbar {
    align-self: left;
    float: center;
}

h1 {
    color: rgb(56, 163, 212);
    font-size: 700%;
    margin-bottom: 0%;
    margin-top: 1%;
}

h2 {
    color: rgb(56, 163, 212);
    font-size: 500%;
    margin-bottom: -1%;
}

h3 {
    color: #ffffff;
    font-size: 200%;
    font-weight: 800;
    font-style: italic;
}

#about {
    color: #ffffff;
    font-weight: 400;
    margin-bottom: -4%;
    font-size: 120%;
}

p {
    color: #ffffff;
    font-weight: 400;
    font-size: 120%;
}

a {
    color: rgb(56, 163, 212);
}

/*random font selection*/

@font-face {
    font-family: "Tiny5", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
  }
  
  @font-face {
    font-family: "Workbench", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
  }
  
  @font-face {
    font-family: "Sixtyfour", sans-serif;
    src: ('https://fonts.googleapis.com/css2?family=Sixtyfour&family=Workbench&display=swap');
  }
  
  @font-face {
    font-family: "Sixtyfour", sans-serif;
    src: ('https://fonts.googleapis.com/css2?family=Sixtyfour&family=Workbench&display=swap');
  }
  
  @font-face {
    font-family: "Oleo Script", system-ui;
    src: url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
  }
  
  @font-face {
    font-family: "Kaushan Script", cursive;
    src: url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oleo+Script:wght@400;700&display=swap');
  }
  
  /* all elements that have this class will use the selected font */
  #randomFont {
    color: rgb(56, 163, 212);
  }