body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: #F7F3F0;
  color: black;
  line-height: 1.6;
  padding: 2rem;
  margin: 0;
}

.entire-page {
  justify-content: center;
  background-color: #F7F3F0;
  align-items: center;
  max-width: 50rem;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 50rem;
  margin: 0 auto;
}

/* top box */

  .text {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .main-content {
    padding-right: 2rem;
  }

  .links {
    flex: 1;
    height: 8rem;
    text-align: right;
  }

  .name {
    line-height: 2rem;
  }

  .card {
    width: 100%;
    background-color: #1e2761;
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.7rem;
    align-items: center bottom;
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }


ul {
  list-style-type: none;
  padding-left: 0;
}

.yap-item {
  list-style-type: circle;
  font-size: 0.85rem;
  }

.nav-item {
  margin-bottom: 0.5rem;
  text-decoration: underline;
  max-width: fit-content;
  padding-right: 1rem;
}

.nav-item::after {
  content: " →";
}

/* quote stuff */

  .quote {

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.7rem;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #E6E6E6;
    height: 7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .quote::before:hover {
    transform: scale(1.03);
  }


  .quote::before {
    content: "←";
    margin-right: 1rem;
  }

  .quote::after {
    content: "→";
    margin-left: 1rem;
    text-align: right;
  }

.sidebar ul {
  background-color: #1e2761;
  color: white;
  padding: 1rem;
}

#asterism {
  text-align: center;
  size: 0.5rem;
}

.socratica-logo {
  width: 1.3rem;
  height: auto;
  padding: 1rem;
}

.intro {
  padding-left: 1rem;
}

/* hover stuff*/

  .socratica-logo:hover {
    transform: scale(1.08);
  }

  .nav-item:hover {
    transform: scale(1.1);
    transform-origin: left;
  }

  .outlink:hover {
    transform: scale(1.05);
    transform-origin: right;
  }

/* link formatting */

  a:link {
    color: white;
  }

  a:visited {
    color: white;
  }

  a:active {
    color: white;
}



